html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url('../media/bigstock-183651688.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
	 padding: 0;
}

header {
    padding: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232b23;
    height: 80px;
}

li {
    font-size: 18px;
    float: right;
    display: flex;
    align-items: center;
    height: 80px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

li a:hover {
    transition-duration: 0s;
    font-weight: 600;
    border-bottom: 1px solid white;
}

footer {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: left;
    display: flex;

    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.footer-text-item{
    margin-left:0px;
}


.contact-name-item {
    font-weight: 500;
}

.content{
    width: 100%;
}

#content-header-info {
    font-size: 52px;
    color: #e82214;
    font-weight: 900;
    margin-top: 40px;
    text-align: center;
}

#content-info{
    font-size: 36px;
    color: #e82214;
    font-weight: 900;
    margin-top: 30px;
    text-align: center;

}


#main-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	margin-top: 40px;
 }

